body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-user-select: none;
}
body {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #626262;
  font-family: 'Helvetica Neue', Helvetica, Arial Geneva, sans-serif;
  font-size: 12px;
}
p {
  margin: 0 0 10px 0;
  line-height: 1.5em;
}
a {
  color: #2d81c5;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  cursor: pointer;
}
::selection {
  background: #e0edf8;
  text-shadow: none;
}
hr {
  border: 1px solid #dadada;
  border-width: 1px 0 0 0;
  margin: 10px 0 20px 0;
}
input[type=text],
input[type=url],
textarea {
  padding: 3px;
  margin: 0;
  border: 1px solid rgba(0,0,0,0.20);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.10);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.10);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.10);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.10);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.10);
}
input[type=text]:focus,
input[type=url]:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: rgba(104,189,244,0.80);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.20), 0 1px 5px 0 rgba(104,189,244,0.60);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.20), 0 1px 5px 0 rgba(104,189,244,0.60);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.20), 0 1px 5px 0 rgba(104,189,244,0.60);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.20), 0 1px 5px 0 rgba(104,189,244,0.60);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.20), 0 1px 5px 0 rgba(104,189,244,0.60);
}
textarea {
  padding: 5px;
  height: 80px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.hidden {
  display: none;
}
#app .header {
  height: 40px;
  line-height: 40px;
  background: #5f9fe6;
  background: -webkit-gradient(linear, left top, left bottom, from(#5f9fe6), to(#3a7ac1));
  background: -moz-linear-gradient(top, #5f9fe6, #3a7ac1);
  background: linear-gradient(top, #5f9fe6, #3a7ac1);
}
#app {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
#app .stage {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  background: #fff;
  position: relative;
  overflow: auto;
}
#app .stage .resizing .thumb {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border: 1px solid #000;
  cursor: pointer;
}
#app .stage .resizing .thumb.tl {
  left: -3px;
  top: -3px;
}
#app .stage .resizing .thumb.tt {
  margin-left: -3px;
  left: 50%;
  top: -3px;
}
#app .stage .resizing .thumb.tr {
  right: -3px;
  top: -3px;
}
#app .stage .resizing .thumb.rr {
  right: -3px;
  top: 50%;
  margin-top: -3px;
}
#app .stage .resizing .thumb.bl {
  left: -3px;
  bottom: -3px;
}
#app .stage .resizing .thumb.bb {
  left: 50%;
  bottom: -3px;
  margin-left: -3px;
}
#app .stage .resizing .thumb.br {
  right: -3px;
  bottom: -3px;
}
#app .stage .resizing .thumb.ll {
  top: 50%;
  left: -3px;
  margin-top: -3px;
}
#app .stage .selectArea {
  position: absolute;
  border: 1px solid rgba(0,0,0,0.20);
  background: rgba(0,0,0,0.10);
  z-index: 1000;
}
/*


*/
