body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #626262;
  font-family: 'Helvetica Neue', Helvetica, Arial Geneva, sans-serif;
  font-size: 12px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.hidden {
  display: none !important;
}
.vbox {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
}
.hbox {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  -moz-box-pack: start;
}
.colorPicker {
  -webkit-user-select: none;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  -moz-box-pack: start;
  padding: 6px;
  width: 425px;
}
.colorPicker canvas {
  display: block;
}
.colorPicker label {
  display: block;
  overflow: hidden;
}
.colorPicker label span {
  display: block;
  float: left;
  width: 30px;
  line-height: 25px;
}
.colorPicker label span:after {
  content: ':';
}
.colorPicker label input {
  width: 60px;
}
.colorPicker .spectrum,
.colorPicker .gradient,
.colorPicker .alpha {
  cursor: pointer;
}
.colorPicker .preview {
  background: url("grid.png") repeat;
}
.colorPicker .alpha {
  background: url("grid.png") repeat;
  margin: 0 6px 0 0;
}
.colorPicker .preview {
  margin: 5px 0 10px;
}
.colorPicker .preview,
.colorPicker .preview .inner {
  height: 55px;
}
.colorPicker .original {
  height: 5px;
}
.colorPicker button.save {
  float: right;
}
.contextMenu {
  position: absolute;
  min-width: 150px;
  background: rgba(255,255,255,0.95);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.20);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.20);
  box-shadow: 0 2px 5px rgba(0,0,0,0.20);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.20);
  border-bottom-color: rgba(0,0,0,0.25);
  color: #000;
  font-size: 13px;
  z-index: 10002;
  overflow: hidden;
}
.contextMenu div {
  padding: 8px 10px;
  border-bottom: 1px solid rgba(0,0,0,0.10);
  cursor: pointer;
}
.contextMenu div:last-child {
  border-bottom: 0;
}
.contextMenu div.disabled {
  color: rgba(0,0,0,0.30);
}
.contextMenu div:not(.disabled):hover {
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.20);
  background: #bac4d8;
  background: -webkit-gradient(linear, left top, left bottom, from(#bac4d8), to(#9aa8c7));
  background: -webkit-linear-gradient(top, #bac4d8, #9aa8c7);
  background: -moz-linear-gradient(top, #bac4d8, #9aa8c7);
  background: linear-gradient(top, #bac4d8, #9aa8c7);
}
.contextMenu div:not(.disabled):hover:active {
  background: #9aa8c7;
  background: -webkit-gradient(linear, left top, left bottom, from(#9aa8c7), to(#bac4d8));
  background: -webkit-linear-gradient(top, #9aa8c7, #bac4d8);
  background: -moz-linear-gradient(top, #9aa8c7, #bac4d8);
  background: linear-gradient(top, #9aa8c7, #bac4d8);
}
.gradientPicker {
  position: relative;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #b8b8b8;
  box-shadow: 0 1px 1px #fff;
}
.gradientPicker .slider {
  position: absolute;
  width: 10px;
  height: 16px;
  bottom: 0;
  margin: 0 0 -8px -5px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.30);
  box-shadow: 0 1px 2px rgba(0,0,0,0.20);
  background: url("grid.png") repeat;
  cursor: pointer;
}
.gradientPicker .slider .inner {
  border-radius: 3px;
  height: 16px;
}
.gradientPicker .colorPreview {
  border: 0;
  width: auto;
  margin: 0;
  border: 0;
}
.gradientPicker .colorPreview .inner {
  width: auto;
}
#app .header {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 45px;
  background: #f1f1f1;
  background: -webkit-gradient(linear, left top, right top, from(#f1f1f1), to(#ddd));
  background: -webkit-linear-gradient(left, #f1f1f1, #ddd);
  background: -moz-linear-gradient(left, #f1f1f1, #ddd);
  background: linear-gradient(left, #f1f1f1, #ddd);
  -moz-box-shadow: inset -1px 0 2px rgba(0,0,0,0.20);
  -webkit-box-shadow: inset -1px 0 2px rgba(0,0,0,0.20);
  box-shadow: inset -1px 0 2px rgba(0,0,0,0.20);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  -webkit-user-select: none;
}
#app .header h1 {
  display: block;
  margin: 0 10px;
  font: 23px arial, lucida, helvetica, arial, sans-serif;
  font-weight: normal;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.30);
  line-height: 33px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
#app .header nav {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
}
#app .header nav div {
  cursor: pointer;
  padding: 8px 12px;
  border-bottom: 1px solid rgba(0,0,0,0.20);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.40);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.40);
  box-shadow: 0 1px 0 rgba(255,255,255,0.40);
}
#app .header nav div:active {
  -moz-box-shadow: inset 0 0 20px rgba(0,0,0,0.30);
  -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.30);
  box-shadow: inset 0 0 20px rgba(0,0,0,0.30);
}
#app .header nav span {
  height: 20px;
  width: 20px;
  line-height: 20px;
  display: block;
  background: rgba(0,0,0,0.20);
  -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.35), 0 1px 0 rgba(255,255,255,0.20);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.35), 0 1px 0 rgba(255,255,255,0.20);
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.35), 0 1px 0 rgba(255,255,255,0.20);
  color: rgba(0,0,0,0.40);
  text-shadow: 0 1px 0 #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#app .header nav .ellipsis span {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#app .header nav .text span {
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#app .header nav .textInput span {
  background: #fff;
  text-shadow: none;
  font-size: 8px;
  text-transform: none;
  padding-left: 1px;
}
#app .header nav .button span {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: -webkit-linear-gradient(270deg, #fff, #fff 30%, #f2f2f2 100%);
}
#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#app .hbox {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  -moz-box-pack: start;
}
#app .inspector {
  width: 220px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  -moz-box-shadow: inset 1px 0 2px rgba(0,0,0,0.30);
  -webkit-box-shadow: inset 1px 0 2px rgba(0,0,0,0.30);
  box-shadow: inset 1px 0 2px rgba(0,0,0,0.30);
  background: #f5f5f5;
  color: #000;
  -webkit-user-select: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
}
#app .inspector header {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  -moz-box-pack: start;
  -webkit-box-pack: center;
  background: #959a9b;
  background: -webkit-gradient(linear, left top, left bottom, from(#959a9b), to(#767b7c));
  background: -webkit-linear-gradient(top, #959a9b, #767b7c);
  background: -moz-linear-gradient(top, #959a9b, #767b7c);
  background: linear-gradient(top, #959a9b, #767b7c);
  color: #fff;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.30);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}
#app .inspector header div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  padding: 8px 15px;
  cursor: pointer;
  text-align: center;
}
#app .inspector header div:last-child {
  border-right: none;
}
#app .inspector header div:active,
#app .inspector header div.active {
  background: #858b8c;
  background: -webkit-gradient(linear, left top, left bottom, from(#858b8c), to(#707576));
  background: -webkit-linear-gradient(top, #858b8c, #707576);
  background: -moz-linear-gradient(top, #858b8c, #707576);
  background: linear-gradient(top, #858b8c, #707576);
  -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.20);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.20);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.20);
}
#app .inspector .textInspector,
#app .inspector .displayInspector {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  overflow-x: auto;
}
#app .inspector .textInspector:not(.active),
#app .inspector .displayInspector:not(.active) {
  display: none;
}
#app .inspector h3 {
  line-height: 20px;
  padding: 0 8px;
  margin: 0;
  background: #f1f1f1;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#ddd));
  background: -webkit-linear-gradient(top, #f1f1f1, #ddd);
  background: -moz-linear-gradient(top, #f1f1f1, #ddd);
  background: linear-gradient(top, #f1f1f1, #ddd);
  border-left: 1px solid #c6c6c6;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #c6c6c6;
  color: #777;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.80);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}
#app .inspector article {
  overflow: hidden;
  padding: 10px;
}
#app .inspector label {
  display: block;
}
#app .inspector label span {
  display: inline-block;
  width: 30px;
}
#app .inspector label span:after {
  content: ":";
}
#app .inspector label input {
  margin: 3px;
}
#app .inspector ::selection {
  background: #e0edf8;
  text-shadow: none;
}
#app .inspector input[type=text],
#app .inspector input[type=url],
#app .inspector input[type=number],
#app .inspector input[type=color],
#app .inspector textarea {
  border: 1px solid rgba(0,0,0,0.30);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.10);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.10);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.10);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.10);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.10);
}
#app .inspector input[disabled] {
  opacity: 0.8;
}
#app .inspector input[type=number] {
  width: 35px;
}
#app .inspector .colorInput .preview {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.30);
  padding: 3px;
  cursor: pointer;
}
#app .inspector .colorInput input {
  display: inline-block;
}
#app .inspector .colorPreview {
  width: 40px;
  height: 16px;
  display: inline-block;
  margin: 3px;
  border: 1px solid #9b9b9b;
  cursor: pointer;
  background: url("grid.png") repeat;
}
#app .inspector .colorPreview .inner {
  width: 40px;
  height: 16px;
}
#app .inspector .positionPicker {
  width: 40px;
  height: 40px;
  background: #fff url("crosshairs.png") center center no-repeat;
  border: 1px solid rgba(0,0,0,0.30);
  cursor: pointer;
  position: relative;
}
#app .inspector .positionPicker .ball {
  position: absolute;
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
  background: -webkit-linear-gradient(top, #fff, #efefef);
  background: -moz-linear-gradient(top, #fff, #efefef);
  background: linear-gradient(top, #fff, #efefef);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.30);
}
#app .inspector .list {
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 10px 10px 0 10px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 1px #fff;
  -webkit-box-shadow: 0 1px 1px #fff;
  box-shadow: 0 1px 1px #fff;
}
#app .inspector .list .items {
  min-height: 35px;
  max-height: 100px;
  overflow-x: auto;
}
#app .inspector .list .item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.20);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#app .inspector .list .item:last-child {
  border-bottom: none;
}
#app .inspector .list .item.selected {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.20);
  background: #bcc6de;
  background: -webkit-gradient(linear, left top, left bottom, from(#bcc6de), to(#9ba8c7));
  background: -webkit-linear-gradient(top, #bcc6de, #9ba8c7);
  background: -moz-linear-gradient(top, #bcc6de, #9ba8c7);
  background: linear-gradient(top, #bcc6de, #9ba8c7);
}
#app .inspector .list .item .preview {
  margin: 0 3px 0 0;
  width: 8px;
  height: 8px;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.10);
}
#app .inspector .list footer {
  border-top: 1px solid rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.80);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.80);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.80);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.80);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.80);
  background: #fcfcfc;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(rgba(238,238,238,0.90)));
  background: -webkit-linear-gradient(top, #fcfcfc, rgba(238,238,238,0.90));
  background: -moz-linear-gradient(top, #fcfcfc, rgba(238,238,238,0.90));
  background: linear-gradient(top, #fcfcfc, rgba(238,238,238,0.90));
  -webkit-border-radius: 0 0 4px 4px;
  overflow: hidden;
}
#app .inspector .list footer button {
  margin: 0;
  display: block;
  float: left;
  color: #5b5b5b;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #fff;
  padding: 2px 12px;
  -moz-box-shadow: inset -1px 0 1px rgba(255,255,255,0.50);
  -webkit-box-shadow: inset -1px 0 1px rgba(255,255,255,0.50);
  box-shadow: inset -1px 0 1px rgba(255,255,255,0.50);
  border: none;
  border-right: 1px solid rgba(0,0,0,0.15);
  background: none;
}
#app .inspector .list footer button:active {
  -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.20);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.20);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.20);
}
#app .inspector .background .edit {
  margin: 10px;
}
#app .inspector .background .gradientPicker {
  margin: 0px 5px 5px 5px;
}
#app .inspector .background.disabled .list {
  opacity: 0.6;
}
#app .inspector .border label {
  margin-bottom: 3px;
}
#app .inspector .border label span {
  width: 35px;
}
#app .inspector .border label input {
  margin-right: 10px;
}
#app .inspector .border label .colorPreview {
  margin: 3px 0 -5px 0;
}
#app .inspector .border label select {
  width: 130px;
}
#app .inspector .border .hbox label {
  margin-bottom: 0px;
}
#app .inspector .border .borders {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  -moz-box-pack: start;
  margin: 2px auto 10px auto;
  background: #fcfcfc;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(rgba(238,238,238,0.90)));
  background: -webkit-linear-gradient(top, #fcfcfc, rgba(238,238,238,0.90));
  background: -moz-linear-gradient(top, #fcfcfc, rgba(238,238,238,0.90));
  background: linear-gradient(top, #fcfcfc, rgba(238,238,238,0.90));
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  -webkit-box-pack: center;
  width: 185px;
}
#app .inspector .border .borders div {
  overflow: hidden;
  border-right: 1px solid #ccc;
}
#app .inspector .border .borders div:last-child {
  border-right: none;
}
#app .inspector .border .borders div:active,
#app .inspector .border .borders div.active {
  -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.20);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.20);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.20);
}
#app .inspector .border .borders span {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin: 5px 12px;
  border: 1px solid #777;
  cursor: pointer;
}
#app .inspector .border .borders .borderTop span {
  border-top-width: 3px;
}
#app .inspector .border .borders .borderRight span {
  border-right-width: 3px;
}
#app .inspector .border .borders .borderBottom span {
  border-bottom-width: 3px;
}
#app .inspector .border .borders .borderLeft span {
  border-left-width: 3px;
}
#app .inspector .border.disabled .borders,
#app .inspector .border.disabled input,
#app .inspector .border.disabled select {
  opacity: 0.6;
}
#app .inspector .borderRadius .borders {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  -moz-box-pack: start;
  margin: 3px auto 10px auto;
  background: #fcfcfc;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(rgba(238,238,238,0.90)));
  background: -webkit-linear-gradient(top, #fcfcfc, rgba(238,238,238,0.90));
  background: -moz-linear-gradient(top, #fcfcfc, rgba(238,238,238,0.90));
  background: linear-gradient(top, #fcfcfc, rgba(238,238,238,0.90));
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  -webkit-box-pack: center;
  width: 185px;
}
#app .inspector .borderRadius .borders div {
  overflow: hidden;
  border-right: 1px solid #ccc;
}
#app .inspector .borderRadius .borders div:last-child {
  border-right: none;
}
#app .inspector .borderRadius .borders div:active,
#app .inspector .borderRadius .borders div.active {
  -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.20);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.20);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.20);
}
#app .inspector .borderRadius .borders span {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin: 5px 12px;
  border: 1px solid #777;
  cursor: pointer;
}
#app .inspector .borderRadius .borders .borderRadius span {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#app .inspector .borderRadius .borders .borderRadiusTopLeft span {
  border-top-left-radius: 4px;
}
#app .inspector .borderRadius .borders .borderRadiusTopRight span {
  border-top-right-radius: 4px;
}
#app .inspector .borderRadius .borders .borderRadiusBottomRight span {
  border-bottom-right-radius: 4px;
}
#app .inspector .borderRadius .borders .borderRadiusBottomLeft span {
  border-bottom-left-radius: 4px;
}
#app .inspector .borderRadius label {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  -moz-box-pack: start;
}
#app .inspector .borderRadius label input {
  display: block;
}
#app .inspector .borderRadius label input[type=range] {
  margin: 5px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
#app .inspector .borderRadius label input[type=number] {
  width: 40px;
}
#app .inspector .borderRadius.disabled .borders,
#app .inspector .borderRadius.disabled input {
  opacity: 0.6;
}
#app .inspector .boxShadow .positionPicker {
  margin: 3px 5px 3px 0;
}
#app .inspector .boxShadow label span {
  margin-left: 3px;
  width: auto;
}
#app .inspector .boxShadow .blur span,
#app .inspector .boxShadow .color span {
  width: 33px;
}
#app .inspector .boxShadow .color span {
  position: relative;
  top: -6px;
}
#app .inspector .boxShadow.disabled .list {
  opacity: 0.6;
}
#app .inspector .dimensions label {
  margin-right: 10px;
}
#app .inspector .dimensions label span {
  width: 38px;
}
#app .inspector .dimensions label input {
  width: 45px;
}
#app .inspector .dimensions label:last-child span {
  width: 15px;
}
#app .inspector .font label span {
  width: 45px;
}
#app .inspector .font select {
  width: 120px;
}
#app .inspector .font .color span {
  position: relative;
  top: -6px;
}
#app .inspector .opacity label {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  -moz-box-pack: start;
}
#app .inspector .opacity label input {
  display: block;
}
#app .inspector .opacity label input[type=range] {
  width: 135px;
  margin: 5px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
#app .inspector .opacity label input[type=number] {
  width: 40px;
}
.popupMenu {
  -webkit-user-select: none;
  position: absolute;
  min-width: 130px;
  background: rgba(255,255,255,0.95);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.20);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.20);
  box-shadow: 0 2px 5px rgba(0,0,0,0.20);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.20);
  border-bottom-color: rgba(0,0,0,0.25);
  color: #000;
  font-size: 13px;
  z-index: 10002;
  overflow: hidden;
}
.popupMenu div {
  padding: 8px 10px;
  border-bottom: 1px solid rgba(0,0,0,0.10);
  cursor: pointer;
}
.popupMenu div:last-child {
  border-bottom: 0;
}
.popupMenu div.disabled {
  color: rgba(0,0,0,0.30);
}
.popupMenu div:not(.disabled):hover {
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.20);
  background: #bac4d8;
  background: -webkit-gradient(linear, left top, left bottom, from(#bac4d8), to(#9aa8c7));
  background: -webkit-linear-gradient(top, #bac4d8, #9aa8c7);
  background: -moz-linear-gradient(top, #bac4d8, #9aa8c7);
  background: linear-gradient(top, #bac4d8, #9aa8c7);
}
.popupMenu div:not(.disabled):hover:active {
  background: #9aa8c7;
  background: -webkit-gradient(linear, left top, left bottom, from(#9aa8c7), to(#bac4d8));
  background: -webkit-linear-gradient(top, #9aa8c7, #bac4d8);
  background: -moz-linear-gradient(top, #9aa8c7, #bac4d8);
  background: linear-gradient(top, #9aa8c7, #bac4d8);
}
#app .inspector .textPosition label span {
  width: 85px;
}
#app .inspector .textShadow .positionPicker {
  margin: 3px 5px 3px 0;
}
#app .inspector .textShadow label span {
  margin-left: 3px;
  width: auto;
}
#app .inspector .textShadow .blur span,
#app .inspector .textShadow .color span {
  width: 33px;
}
#app .inspector .textShadow .color span {
  position: relative;
  top: -6px;
}
.popup {
  position: absolute;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #b5b5b5;
  border-bottom-color: #a7a7a7;
  border-top-color: #d8d8d8;
  -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.24);
  box-shadow: 0 4px 8px rgba(0,0,0,0.24);
  background: #fff;
  min-width: 400px;
  color: #000;
  z-index: 10000;
}
.popup article {
  padding: 5px;
}
.popup footer {
  border-top: 1px solid rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.80);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.80);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.80);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.80);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.80);
  background: #fcfcfc;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(rgba(238,238,238,0.90)));
  background: -webkit-linear-gradient(top, #fcfcfc, rgba(238,238,238,0.90));
  background: -moz-linear-gradient(top, #fcfcfc, rgba(238,238,238,0.90));
  background: linear-gradient(top, #fcfcfc, rgba(238,238,238,0.90));
  -webkit-border-radius: 0 0 4px 4px;
}
.popup footer button {
  margin: 0;
  color: #717a81;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #fff;
  padding: 8px 13px;
  -moz-box-shadow: inset -1px 0 1px rgba(255,255,255,0.50);
  -webkit-box-shadow: inset -1px 0 1px rgba(255,255,255,0.50);
  box-shadow: inset -1px 0 1px rgba(255,255,255,0.50);
  border: none;
  border-right: 1px solid rgba(0,0,0,0.15);
  background: none;
}
.popup.list .items {
  min-height: 180px;
}
.popup.list .item {
  padding: 10px;
  cursor: pointer;
}
.popup.list .item.selected {
  color: #fff;
  background: #bac4d8;
  background: -webkit-gradient(linear, left top, left bottom, from(#bac4d8), to(#9aa8c7));
  background: -webkit-linear-gradient(top, #bac4d8, #9aa8c7);
  background: -moz-linear-gradient(top, #bac4d8, #9aa8c7);
  background: linear-gradient(top, #bac4d8, #9aa8c7);
}
#app .stage {
  position: absolute;
  top: 0;
  right: 220px;
  bottom: 0;
  left: 45px;
  background: #fff;
  overflow: auto;
  -webkit-user-select: none;
}
#app .stage .element {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  outline: none;
  position: absolute;
  left: 0;
  top: 0;
}
#app .stage .element.editing {
  -webkit-user-select: text;
}
#app .stage .element.text {
  white-space: nowrap;
  padding: 5px;
}
#app .stage .element.text.editing,
#app .stage .element.text.selected {
  outline: 1px solid rgba(0,0,0,0.20);
}
#app .stage .resizing .thumb {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border: 1px solid #000;
  cursor: pointer;
}
#app .stage .resizing .thumb.tl {
  left: -3px;
  top: -3px;
  cursor: nw-resize;
}
#app .stage .resizing .thumb.tt {
  margin-left: -3px;
  left: 50%;
  top: -3px;
  cursor: n-resize;
}
#app .stage .resizing .thumb.tr {
  right: -3px;
  top: -3px;
  cursor: ne-resize;
}
#app .stage .resizing .thumb.rr {
  right: -3px;
  top: 50%;
  margin-top: -3px;
  cursor: e-resize;
}
#app .stage .resizing .thumb.br {
  right: -3px;
  bottom: -3px;
  cursor: se-resize;
}
#app .stage .resizing .thumb.bb {
  left: 50%;
  bottom: -3px;
  margin-left: -3px;
  cursor: s-resize;
}
#app .stage .resizing .thumb.bl {
  left: -3px;
  bottom: -3px;
  cursor: sw-resize;
}
#app .stage .resizing .thumb.ll {
  top: 50%;
  left: -3px;
  margin-top: -3px;
  cursor: w-resize;
}
#app .stage .selectArea {
  position: absolute;
  border: 1px solid rgba(0,0,0,0.20);
  background: rgba(0,0,0,0.10);
  z-index: 1000;
}
#app .stage .snapLine {
  background: #fbff40;
  position: absolute;
  z-index: 9999;
}
#app .stage .snapLine.vertical {
  width: 1px;
}
#app .stage .snapLine.horizontal {
  height: 1px;
}
#app .stage .coordTitle,
#app .stage .areaTitle {
  color: #000;
  position: absolute;
  padding: 3px;
  background: rgba(255,249,215,0.85);
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.30);
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.30);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.30);
  z-index: 10001;
}
/*


*/
