@import 'mixins'

#app .inspector .border {
  label {
    margin-bottom: 3px

    span {
      width: 35px
    }

    input {
      margin-right: 10px
    }

    .colorPreview {
      margin: 3px 0 -5px 0
    }

    select {
      width: 130px
    }
  }

  .hbox label {
    margin-bottom: 0px
  }

  .borders {
    hbox()
    margin: 2px auto 10px auto
    vbg-gradient(lighten(rgba(238, 238, 238, 1), 80%), rgba(238, 238, 238, 0.9))
    border: 1px solid #CCC
    border-radius: 5px
    box-shadow: 0 1px 0 #FFF
    -webkit-box-pack: center
    width: 185px

    div {
      overflow: hidden
      border-right: 1px solid #CCC

      &:last-child {
        border-right: none
      }

      &:active, &.active {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2)
      }
    }

    span {
      display: block
      border-box()
      width: 12px
      height: 12px
      margin: 5px 12px
      border: 1px solid #777
      cursor: pointer
    }

    .borderTop span {
      border-top-width: 3px
    }

    .borderRight span {
      border-right-width: 3px
    }

    .borderBottom span {
      border-bottom-width: 3px
    }

    .borderLeft span {
      border-left-width: 3px
    }
  }

  &.disabled {
    .borders, input, select {
      opacity: 0.6
    }
  }
}