#app .inspector .boxShadow {
  .positionPicker {
    margin: 3px 5px 3px 0
  }

  label {
    span {
      margin-left: 3px
      width: auto
    }
  }

  .blur span, .color span {
    width: 33px
  }

  .color span {
    position relative
    top: -6px
  }
}