@import 'mixins'

#app .inspector .dimensions {
  label {
    margin-right: 10px

    span {
      width: 38px
    }

    input {
      width: 45px
    }

    &:last-child span {
      width: 15px
    }
  }
}