#app .inspector .opacity {
  label {
    input[type=range] {
      width: 135px
      margin: 5px
      position: relative
      bottom: -4px
    }

    input[type=number] {
      width: 40px
    }
  }
}