@import 'mixins'

#app .inspector .opacity {
  label {
    hbox()

    input {
      display: block
    }

    input[type=range] {
      width: 135px
      margin: 5px
      box-flex(1)
    }

    input[type=number] {
      width: 40px
    }
  }
}