.gradientPicker {
  position: relative
  height: 20px
  border-radius: 3px

  .slider {
    position: absolute
    width: 10px
    height: 16px
    bottom: 0

    margin: 0 0 -8px -5px
    border: 1px solid rgba(255, 255, 255, 0.1)

    background: url(grid.png) repeat
    cursor: pointer

    .inner {
      height: 16px
    }
  }

  .colorPreview {
    border: 0
    width: auto
    margin: 0
    border: 0

    .inner {
      width: auto
    }
  }
}