@import 'mixins'

#app .header {
  // hbg-gradient(#5D646D, #8F9398)
  hbg-gradient(#CCCCCC, #DDDDDD)

  box-shadow: inset -1px 0 2px rgba(0, 0, 0, 0.3)

  vbox()

  h1 {
    display: block
    margin: 0 10px
    font: 23px arial,lucida,helvetica,arial,sans-serif
    font-weight: normal
    color: #FFF
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3)
    line-height: 33px
    box-flex(1)
  }

  nav {
    vbox()

    div {
      padding: 8px 12px
      border-bottom: 1px solid rgba(0, 0, 0 ,0.3)
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2)

      &:active {
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3)
      }
    }

    span {
      height: 20px
      width: 20px

      display: block
      background: rgba(0, 0, 0, 0.2)
      box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.35), 0 1px 0 rgba(255, 255, 255, 0.2)

      color: #FFF
      text-shadow: 0 -1px 0 rgba(0, 0, 0 ,0.3)
      font-weight: bold
      text-transform: uppercase
      font-size: 11px
    }

    .ellipsis span {
      border-radius: 50%
    }
  }
}