@import 'mixins'

#app .inspector {
  width: 220px
  position: absolute
  right: 0px
  bottom: 0px
  top: 35px
  box-shadow: inset 1px 0 2px rgba(0, 0, 0, 0.3)
  background: #F5F5F5
  color: #000
  -webkit-user-select: none
  overflow-x: auto

  h3 {
    line-height: 20px
    padding: 0 5px
    margin: 0
    vbg-gradient(#F1F1F1, #DDDDDD)
    border-left: 1px solid #C6C6C6
    border-top: 1px solid #DDDDDD
    border-bottom: 1px solid #C6C6C6
    color: #777
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8)
  }

  article {
    overflow: hidden
    padding: 8px 8px 10px 8px
  }

  label {
    display: block

    span {
      display: inline-block
      width: 30px
    }

    span:after {
      content: ":"
    }

    input {
      margin: 3px
    }
  }

  input[disabled] {
    opacity: 0.8
  }

  input[type=number] {
    width: 45px
  }

  .preview {
    border: 1px solid rgba(0, 0, 0, 0.3)
    padding: 3px
    cursor: pointer
    margin: 5px 0 0 0
    background: url(grid.png) repeat
  }

  .preview, .preview .inner {
    width: 30px
    height: 30px
  }

  .positionPicker {
    width: 50px
    height: 50px

    background: #FFF url(crosshairs.png) no-repeat
    border: 1px solid rgba(0, 0, 0, 0.3)
    cursor: pointer
    margin: 10px
    position: relative

    .ball {
      position: absolute
      width: 12px
      height: 12px
      margin: -6px 0 0 -6px

      vbg-gradient(#FFF, #EFEFEF)
      border-radius: 50%
      border: 1px solid rgba(0, 0, 0, 0.3)
    }
  }

  .background {
    select {
      width: 130px
      margin-left: 5px
    }

    .preview {
      margin: 5px 0 0 60px
    }

    span {
      width: 50px
    }
  }

  .opacity label {
    input[type=range] {
      margin: 5px 5px 0 0
    }

  }

  .shadow {

  }
}