@import 'mixins'

.popup {
  border-radius: 4px
  border: 1px solid rgba(181,181,181, 1)
  border-bottom-color: rgba(167,167,167,1)
  border-top-color: rgba(216,216,216,1)

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24)
  background: #FFF
  min-width: 400px
  color: #000

  article {
    padding: 5px
  }

  footer {
    border-top: 1px solid rgba(0, 0, 0, 0.15)
    inset-line(0.8)
    vbg-gradient(lighten(rgba(238, 238, 238, 1), 80%), rgba(238, 238, 238, 0.9))
    -webkit-border-radius: 0 0 4px 4px

    button {
      margin: 0

      color: #717A81;
      font-size: 11px;
      font-weight: bold
      text-transform: uppercase
      text-shadow: 0 1px 1px #FFF;
      padding: 8px 13px
      box-shadow: inset -1px 0 1px rgba(255, 255, 255, 0.5)
      border: none
      border-right: 1px solid rgba(0, 0, 0, 0.15)
      background: none
    }
  }
}

.popup.list {
  .items {
    min-height: 180px
  }

  .item {
    padding: 10px
    cursor: pointer

    &.selected {
      color: #FFF
      vbg-gradient(#BAC4D8, #9AA8C7)
    }
  }
}