@import 'mixins'

#app .stage {
  vbox()
  box-flex(1)

  // background: url('bg-grid.png')
  background: #FFF
  position: relative
  overflow: auto

  .element.selected {
    // outline: 1px dotted rgba(0, 0, 0, 1)
  }

  .resizing .thumb {
    position: absolute
    width: 6px
    height: 6px
    background: #FFF
    border: 1px solid #000
    cursor: pointer

    &.tl {
      left: -3px
      top: -3px
      cursor: nw-resize
    }

    &.tt {
      margin-left: -3px
      left: 50%
      top:-3px
      cursor: n-resize
    }

    &.tr {
      right: -3px
      top: -3px
      cursor: ne-resize
    }

    &.rr {
      right: -3px
      top: 50%
      margin-top: -3px
      cursor: e-resize
    }

    &.br {
      right: -3px
      bottom: -3px
      cursor: se-resize
    }

    &.bb {
      left: 50%
      bottom: -3px
      margin-left: -3px
      cursor: s-resize
    }

    &.bl {
      left: -3px
      bottom: -3px
      cursor: sw-resize
    }

    &.ll {
      top: 50%
      left: -3px
      margin-top: -3px
      cursor: w-resize
    }
  }

  .selectArea {
    position: absolute
    border: 1px solid rgba(0, 0, 0, 0.2)
    background: rgba(0, 0, 0, 0.1)
    z-index: 1000
  }

  .snapLine {
    background: #FBFF40
    position: absolute

    &.vertical {
      width: 1px
    }

    &.horizontal {
      height: 1px
    }
  }

  .coordTitle, .areaTitle {
    color: #000
    position: absolute
    padding: 3px
    background: rgba(255, 249, 215, 0.85)
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3)
  }
}