@import 'mixins'

#app .stage {
  position: absolute
  top: 0
  right: 220px
  bottom: 0
  left: 45px

  // background: url('bg-grid.png')
  background: #FFF
  overflow: auto
  -webkit-user-select: none

  .element {
    border-box()
    color: #000
    outline: none
  }

  .element.editing {
    -webkit-user-select: text
  }

  .element.text {
    white-space: nowrap
    padding: 5px

    &.editing, &.selected {
      outline: 1px solid rgba(0, 0, 0, 0.2)
    }
  }

  .resizing .thumb {
    position: absolute
    width: 6px
    height: 6px
    background: #FFF
    border: 1px solid #000
    cursor: pointer

    &.tl {
      left: -3px
      top: -3px
      cursor: nw-resize
    }

    &.tt {
      margin-left: -3px
      left: 50%
      top:-3px
      cursor: n-resize
    }

    &.tr {
      right: -3px
      top: -3px
      cursor: ne-resize
    }

    &.rr {
      right: -3px
      top: 50%
      margin-top: -3px
      cursor: e-resize
    }

    &.br {
      right: -3px
      bottom: -3px
      cursor: se-resize
    }

    &.bb {
      left: 50%
      bottom: -3px
      margin-left: -3px
      cursor: s-resize
    }

    &.bl {
      left: -3px
      bottom: -3px
      cursor: sw-resize
    }

    &.ll {
      top: 50%
      left: -3px
      margin-top: -3px
      cursor: w-resize
    }
  }

  .selectArea {
    position: absolute
    border: 1px solid rgba(0, 0, 0, 0.2)
    background: rgba(0, 0, 0, 0.1)
    z-index: 1000
  }

  .snapLine {
    background: #FBFF40
    position: absolute
    z-index: 9999

    &.vertical {
      width: 1px
    }

    &.horizontal {
      height: 1px
    }
  }

  .coordTitle, .areaTitle {
    color: #000
    position: absolute
    padding: 3px
    background: rgba(255, 249, 215, 0.85)
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3)
    z-index: 10001
  }
}